ul.blog-types{
    list-style-type: none;
}
div.blog:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #c4e3f3;

}
div.blog h3{
    margin-top: 0.5em;
}
div.blog p.blog-info{
    margin-bottom: 0;
}
div.paginator{
    text-align: center;
}
/*blog_detail.html*/
ul.blog-info-description{
    list-style-type:none;   /*清除原列表样式*/
    margin-bottom: 1em;     /*外边距的下边距*/
}
ul.blog-info-description li{
    display: inline-block;      /*让若干列，在一行显示*/
    margin-right: 1em;      /*右外边距*/
}
/*div.blog-content{*/
/*    text-indent: 2em;   !*首行缩进2字符*!*/
/*}*/
div.blog-more {
    margin-top: 1em;
}

/*设置blog_detail.html的评论区域样式*/
div.comment-area {
    margin-top: 2em;
}
h3.comment-area-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
}

/*设置评论区窗口占满整个页面*/
div.django-ckeditor-widget {
    width:100%;
}

/*设置评论回复区样式*/
div.comment {
    border-bottom: 1px dashed #ccc; /* 添加边框，线条：虚线， */
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}
div.reply {
    margin-left: 2em;
}

div#reply_content_container {
    border: 1px solid #d1d1d1;
    border-bottom: none;
    background-color: #f8f8f8;
    overflow: hidden;
    padding:1em 1em 0.5em;
}
p#reply_title {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 0.5em;

}

/*blog_detail.html, 博客文章内容增加样式*/
div.blog-content {
    text-indent: 2em;
    margin-bottom: 2em;
}

/*博客列表界面，增加上边距*/
div#blog_list_container{
    /*margin-top: 70px;*/
    margin-top: 70px!important;
}

