
<!--
 actionSystem.html  系统管理
 -->

{# 继承actionBase.html #}
{% extends 'actionBase.html' %}
{# 下载静态文件路径 #}
{% load staticfiles %}

{#链接：CSS JS jQuery#}
{% block header_extends %}

{% endblock %}

{#页面title#}
{% block title %}
    行为管理|系统管理
{% endblock %}

{# 状态栏激活 #}
{% block action_system_active %}
    active
{% endblock %}

{# 主界面内容 #}
{% block content %}
    <div class="container-fluid px-xl-5">
        <section class="py-5">
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="h6 text-uppercase mb-0">人员添加</h3>
                        </div>
                        <div class="card-body">
                            <form>
                              <div class="form-group">
                                <label class="form-control-label text-uppercase">Email</label>
                                <input type="email" placeholder="Email Address" class="form-control">
                              </div>
                              <div class="form-group">
                                <label class="form-control-label text-uppercase">Password</label>
                                <input type="password" placeholder="Password" class="form-control">
                              </div>
                              <div class="form-group">
                                <button type="submit" class="btn btn-primary">Log in</button>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
