{% extends 'base.html' %}   {# 继承base.html模板 #}
{% load comment_tags %}     {# 装载有关评论内容的自定义标签 #}

{#页面title#}
{% block title %}
    {{ blog.title }}
{% endblock %}

{% load staticfiles %}
{#链接：CSS JS jQuery#}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{#导航页激活#}
{% block nav_blog_active %}
    active
{% endblock %}

{#页面内容#}
{% block content %}
    <div class="container" id="blog_detail_container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>{{ blog.title }}</h3>
                <ul class="blog-info-description">
                    <li>作者：{{ blog.author }}</li>
                    <li>发表日期：{{ blog.created_time|date:'Y-m-d H:i:s' }}</li>
                    <li>分类：
                        <a href="{% url 'blogs_wiht_type' blog.blog_type.pk %}">
                            {{ blog.blog_type }}
                        </a>
                    </li>
                    <li>阅读({{ blog.get_read_num }})</li>
                    <li>评论（{% get_comment_count blog %}）</li>
                </ul>
                {# |safe,过滤器：在博客文章中，识别HTML标签 #}
                <div class="blog-content">{{ blog.content|safe }}</div>

                <div class="blog-more">
                    <p>
                        上一篇：
                        {% if previous_blog %}
                            <a href="{% url 'blog_detail' previous_blog.pk %}">{{ previous_blog.title }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>
                    <p>
                        下一篇：
                        {% if next_blog %}
                            <a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="comment-area">
                    <h3 class="comment-area-title">提交评论</h3>
                    {% if user.is_authenticated %}
                        <form id="comment-form" action="{% url 'update_comment' %}" method="post" style="overflow: hidden">
                            <label>{{ user.username }}，欢迎评论～</label>
                            <div id="reply_content_container" style="display: none;">
                                <p id="reply_title">回复：</p>
                                <div id="reply_content"></div>
                            </div>
                            {% csrf_token %}    {# 防御CSRF攻击 #}
                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}
                            <span id="comment_error" class="text-danger pull-left"></span>
                            <input type="submit" value="评论" class="btn btn-primary pull-right">
                        </form>
                    {% else %}
                        您尚未登录，登录之后方可评论～
                        <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                        <span> or </span>
                        <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                    {% endif %}
                </div>
                <div class="comment-area">
                    <h3 class="comment-area-title">评论列表区</h3>
                    <div id="comment_list">
                        {% for comment in comments %}
                            <div id="root_{{ comment.pk }}" class="comment">
                                <span>{{ comment.user.username }}</span>
                                <span>({{ comment.comment_time|date:'Y-m-d H:i:s' }}):</span>
                                <div id="comment_{{ comment.pk }}">
                                    {{ comment.text|safe }}     {# |safe:评论文字内容转义成文本样式 #}
                                </div>
                                <a href="javascript:reply({{ comment.pk }})">回复</a>

                                {# 评论回复内容 #}
                                {% for reply in comment.root_comment.all %}
                                    <div class="reply">
                                        <span>{{ reply.user.username }}</span>
                                        <span>({{ reply.comment_time|date:'Y-m-d H:i:s' }})</span>
                                        <span>回复</span>
                                        <span>{{ reply.reply_to.username }}:</span>
                                        <div id="comment_{{ comment.pk }}">
                                            {{ reply.text|safe }}     {# |safe:评论文字内容转义成文本样式 #}
                                        </div>
                                        <a href="javascript:reply({{ reply.pk }})">回复</a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% empty %}
                            <span id="no_comment">暂无评论</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# ajax/javascript样式代码块 #}
{% block script_extends %}
    <script type="text/javascript">
        {# 格式化时间：让小时、分钟、秒，以00:00:00显示 #}
        function numFormat(num) {
            {# substr(-2)：将获取到的参数num，从后面截取2位数，如果不过2位，则补零 #}
            return ('00' + num).substr(-2)
        }

        {# 解决：评论后，显示时间与实际时间相差8小时的问题 #}
        {# 时间戳timestamp，距离1970年至今，多少毫秒（针对JS语言讲） #}
        function timeFormat(timestamp){
            {# js 以毫秒为单位，python以秒为单位，有python后端传过来的时间戳timestamp，放在JS中（认为是以毫秒为单位） #}
            {# 故需timestamp*1000后，才算得到以秒为单位的时间戳，便于下面获取：年月日时分秒 #}
            var datetime = new Date(timestamp*1000);
            var year = datetime.getFullYear();
            var month = numFormat(datetime.getMonth() + 1);
            var day = numFormat(datetime.getDate());
            var hour = numFormat(datetime.getHours());
            var minute = numFormat(datetime.getMinutes());
            var second = numFormat(datetime.getSeconds());
            return year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
        }

        // 评论区
        $("#comment-form").submit(function () {
            $('#comment_error').text('');
            // 判断评论内容是否为空
            if(CKEDITOR.instances['id_text'].document.getBody().getText().trim()==''){
                // 显示错误信息
                $('#comment_error').text('评论内容不能为空！');
                return false;
            }
            // 更新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();
            //异步提交
            $.ajax({
                url: "{% url 'update_comment' %}",  // url地址
                type: "POST",   // 请求类型
                data: $(this).serialize(),  // 获取评论内容数据
                cache: false,   // 不缓存
                // 如果提交成功，则在评论区显示评论内容
                success: function (data) {
                    console.log(data);
                    if(data['status']=='SUCCESS'){
                        // 插入数据
                        {#var comment_html = '<div>'+ data['username'] +' ('+ data['comment_time'] +'): '+ data['text'] +'</div>';#}
                        {#$('#comment_list').prepend(comment_html);#}

                        if($('#reply_comment_id').val()==0){
                            // 插入评论
                            var comment_html = '<div id="root_'+ data['pk'] +'" class="comment">'+
                                '<span>'+ data['username'] +'</span>'+
                                '<span>('+ timeFormat(data['comment_time']) +'): </span>'+
                                '<div id="comment_'+ data['pk'] +'">'+
                                    data['text'] +
                                '</div>'+
                                '<a href="javascript:reply('+ data['pk'] +')">回复</a>'+
                                '</div>';
                            $('#comment_list').prepend(comment_html);
                        }else {
                            // 插入回复

                            var reply_html = '<div class="reply">\n' +
                                '<span>'+ data['username'] +'</span>\n' +
                                '<span>('+ timeFormat(data['comment_time']) +')</span>\n' +
                                '<span>回复</span>\n' +
                                '<span>'+ data['reply_to'] +':</span>\n' +
                                '<div id="comment_'+ data['pk'] +'">\n' +
                                data['text'] +
                                '</div>\n' +
                                '<a href="javascript:reply('+ data['pk'] +')">回复</a>\n' +
                            '</div>';
                            $('#root_'+ data['root_pk']).append(reply_html);
                        }
                        // 提交完数据，清空编辑区
                        CKEDITOR.instances['id_text'].setData('');
                        $('#reply_content_container').hide();
                        $('#reply_comment_id').val('0');
                        $('#no_comment').remove();
                        $('#comment_error').text('评论成功')
                    }else {
                        // 显示错误信息
                        $('#comment_error').text(data['message']);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                },
            });
            // 阻止请求提交（作用：防止刷新页面）
            return false;
        })

        // 回复区
        function reply(reply_comment_id) {
            // 设置值
            $('#reply_comment_id').val(reply_comment_id);
            var html = $('#comment_' + reply_comment_id).html();
            $('#reply_content').html(html);
            $('#reply_content_container').show();
            $('html').animate({scrollTop: $('#comment-form').offset().top - 60}, 300, function () {
                CKEDITOR.instances['id_text'].focus();
            })

        }
    </script>

{% endblock %}

