{% load staticfiles %}  {#Django框架，引入静态文件static的方法#}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}

        {% endblock %}
    </title>

    {# 为其他HTML扩充link做准备 #}
    {% block header_extends %}

    {% endblock %}

    <link rel="stylesheet" href="{% static 'my_css/base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    {# jQuery的引用一定要放在JS的前面，JS相关功能依托jQuery #}
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>

</head>

<body>
    <div id="base_daohang" class="navbar navbar-default navbar-inverse navbar-fixed-top"  role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">耿雨飞的博客</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="{% block nav_home_active %}{% endblock %}">

                        <a href="{% url 'home' %}">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            首页</a>
                    </li>
                    <li class="{% block nav_blog_active %}{% endblock %}">
                        <a href="{% url 'blog_list' %}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            博客</a>
                    </li>
                    <li class="{% block nav %}{% endblock %}">
                        <a href="{% url 'actionManage_index' %}" target="_blank">
                            <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
                            案例</a>
                    </li>
                    <li class="{% block nav_aboutme_active %}{% endblock %}">
                        <a href="{% url 'about_me' %}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            关于</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}   {# 模板标签，其他网页继承主网页,在此block内填写相关网页内容 #}
    {% block script_extends %} {% endblock %}   {# 模板标签，js代码，用于其他网页ajax/JavaScript的代码编写 #}

    {# 返回顶部 #}
    <div id="goTopBtn">
        <span class="glyphicon glyphicon-chevron-up">
{#            &Delta;#}
            Top
        </span>
    </div>

    {# 返回顶部JavaScript #}
{#    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>#}
    <script>
        /*返回顶部*/
        $(window).scroll(function(){
           var sc=$(window).scrollTop();
           var rwidth=$(window).width()
           if(sc>0){
            $("#goTopBtn").css("display","block");
            $("#goTopBtn").css("left",(rwidth-60)+"px")
           }else{
           $("#goTopBtn").css("display","none");
           }
         })
         $("#goTopBtn").click(function(){
           var sc=$(window).scrollTop();
           $('body,html').animate({scrollTop:0},500);
         })
    </script>


    {# 备案信息 #}
    <div class="beian">
        <p>耿雨飞 版权所有 | 基于 Django 构建   &nbsp;&nbsp;&copy 2019 | 托管于 阿里云主机 | 京ICP备19049667号</p>
        <p>站长统计 | 今日IP[12] | 昨日IP[6] | 当前在线[3]</p>
    </div>
</body>
</html>